
<body>
    <div class="register-container" [ngStyle]="{'background-image': 'url(' + image + ')'}">
        <form #userForm="ngForm" (ngSubmit)="onRegister(userForm)" class="register-form">
            <h2><b>REGISTER</b></h2>
            <div class="form-group">
                <input type="text" ngModel name="lastName" id="lastName" placeholder="Last name here">
                <input type="text" ngModel name="firstName" id="firstName" placeholder="First name here">
                <i class="bi bi-alphabet"></i>
            </div>
            <div class="form-group">
                <input type="text" ngModel name="userName" id="userName" placeholder="Username here"> 
                <i class="bi bi-person"></i>
            </div>
            <div class="form-group">
                <input type="text" ngModel name="email" id="email" placeholder="Email here"> 
                <i class="bi bi-envelope"></i>
            </div>
            <div class="form-group">
                <input type="text" ngModel name="phone" id="phoneNumber" placeholder="Phone number here"> 
                <i class="bi bi-telephone"></i>
            </div>
            <div class="form-group">
                <input type="password" ngModel name="password" id="password" placeholder="Enter your password"> 
                <i class="bi bi-lock"></i>
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword" placeholder="Confirm password"> 
                <i class="bi bi-lock-fill"></i>
            </div>
                <button type="submit">Back to login</button>
        </form>
    </div>
</body>
